<h4 class="fw-bold mb-4">📊 Relatório de Vendas</h4>

<form method="GET" action="/relatorios/vendas" class="mb-4">
  <div class="card shadow-sm">
    <div class="card-body row g-2 align-items-end">
      <div class="col-md-4">
        <label for="data" class="form-label">Vendas entre</label>
        <div style="display: flex; flex-direction: row;">
          <input type="date" id="dataInicial" class="form-control form-control-sm dias" name="dataInicial" style="margin-right: 2px;" />
          <input type="date" id="dataFinal" class="form-control form-control-sm dias" name="dataFinal" style="margin-left: 2px;" />
        </div>
      </div>
      <div class="col-md-4 offset-md-4 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary btn-slim">Gerar</button>
      </div>
    </div>
  </div>
</form>

<script>
  const dataInput = document.getElementsByClassName('dias');
  const hoje = new Date();
  const yyyy = hoje.getFullYear();
  const mm = String(hoje.getMonth() + 1).padStart(2, '0');
  const dd = String(hoje.getDate()).padStart(2, '0');
  dataInput[0].value = `${yyyy}-${mm}-${dd}`;
  dataInput[1].value = `${yyyy}-${mm}-${dd}`;
</script>