<div class="jumbotron">
    <h1 class="display-4">Delivery Now</h1>
    <p class="lead">Esse é um aplicativo criado para uso em delivery.</p>
    <hr class="my-4">
    <p>Tudo o que é necessario para a administração de um restaurante está aqui.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/produtos" role="button">Vamos Começar</a>
    </p>
</div>